{% extends 'base.html' %}
{% block content %}

<h1>Cart</h1>

{% for cart in carts %}
<div class="card">
    <a href="{% url 'cart_detail' cart.id %}">
        <div class="card-content">
            <span class="card-title">{{ cart.product.name }}</span>
            <p>Long-Description: {{ cart.product.longDescription }}</p>
            <p>Shot-Description: {{ cart.product.shortDescription }}</p>
            <p>Price: $ {{ cart.product.price }}0</p>
        </div>
    </a>
</div>
{% endfor %}

{% endblock %}