{% extends 'base.html' %}
{% block content %}

<h1>List of Products</h1>

{% for product in products %}
<div class="card">
    <a href="{% url 'detail' product.id %}">
        <div class="card-content">
            <span class="card-title">{{ product.name }}</span>
            <p>Description: {{ product.shortDescription }}</p>
            <p>Price: $ {{ product.price }}0</p>
            <p>Image: {{ product.image }}</p>
        </div>
        <a class="btn" id="add_to_cart" href="{% url 'add_to_cart' product.id %}">Add to Cart</a>
</div>
{% endfor %}

{% endblock %}